h1,
p {
  font-family: Lato;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: none;
}

.usersList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
